{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"  >

    <!-- Bulma CSS -->
   <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- AJAX QUERY -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--   Facebook Pixel Code   -->
     Pixel ID: 3793509907421516
    <!-- Custom JS -->
    <title>24Hours Health Remedy Stores | Hypertension Tea</title>
  </head>
  <body>
    <header>
        <!-- NAVBAR -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hypertension Tea</li>
          </ol>
        </nav>
    </header>
    <div class="container">

      <!-- HERO -->
      <section class="hero is-danger is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">ONLY IF YOU ACT TODAY...... DIAGONIZED HYPERTENSION CONDITION AND CARDIO-VASCULAR RELATED ISSUES CAN BE A THING OF THE PAST
                </h1>
            </div>
        </div>
      </section>
      <!-- END OF HERO -->

    <!-- CONTAINER -->
    <div class="" style="margin: -20px; justify-content: space-between;">
        <!-- START ARTICLE FEED -->
        <section class="articles">
          <!-- START COLUMN -->
            <div class="column">
                <!-- START ARTICLE -->
                <div class="">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">A <span style="color: ;">'Daily' Tea Cup</span> of this TEA is all you need to permanently lower  <span style="color: red;"><u> <b>HIGH BLOOD PRESSURE and prevent stroke, hypertension heart problems and other</b> cardiovascular disease caused by Microcirculation disturbance or heart attack </u></span> within the next 20 to 30 days.</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-danger">24hoursng</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>Dear friend, <br><br>
                              Have you always battled with Hypertension or cardiovascular problems and have been looking for a way out? <br><br>
                              Do you also have high blood sugar levels and want to normalize it quickly? <br><br>
                              When was the last time you breathed freely without difficulty or irregular heart beat in your chest?<br><br>
                              Do you experience severe headaches, vision problems, nose bleeds or blood in urine?<br><br>
                              Do you experience pounding in the chest, neck or ears?<br><br>
                              If you are experiencing any of the above, then there is a high risk of a hypertension and related cardiovascular condition........... <br><br>
                              If nothing is done and quickly too and in more advanced cases, death is not far.
                            </p>
                            <h3 class="has-text-centered" style="color: red;">Why Regulate Your Blood Pressure?</h3>
                            <p> 
                              <i>This Tea starts reversing high blood pressure after you take it and continues eliminating hypertension without any side effects. </i> <br><br>
                              Nearly 70% of persons suffer <strong>First Heart Attack</strong> as a result of high blood pressure.
                              An increasing blood pressure could be caused by family history, especially if your parents or other close relatives have high blood pressure.
                              Also we are exposed to enormous stress on daily a basis especially in Nigeria. <br>
                              Your body produces a surge of hormones when you're in a <b>stressful</b> situation. These hormones increase your blood pressure by causing your heart to beat faster and your <b>blood</b> vessels to narrow. <br>
                              Smoking, drinking too much alcohol and eating unhealthy foods leads to high blood pressure too.
                            </p>
                          <h3 class="has-text-centered" style="color: red;">What is Hypertension?</h3>
                          <p>
                            It is usually refereed to as “Silent Killer”. <br> <br>
                            Hypertension, also known as high or raised blood pressure, is a condition in which the blood vessels have persistently raised pressure. Blood is carried from the heart to all parts of the body in the vessels. Each time the heart beats, it pumps blood into the vessels. <br> <br> Blood pressure is created by the force of blood pushing against the walls of blood vessels (arteries) as it is pumped by the heart. The higher the pressure, the harder the heart has to pump. <br><br>
                            Hypertension is a serious medical condition and can increase the risk of heart, brain, kidney and other diseases. <br><br>
                            <strong>Hypertension is a major cause of premature death worldwide.</strong>
                          </p>
                          <h3 class="has-text-centered" style="color: red;">Symptoms of High Blood Pressure/Heart Problems</h3>
                          <p>                                
                            Below are the pointers or signs that you could be having a high blood pressure/high blood sugar or heart problems. <br>
                            <ul>
                              <li>If you normally eat diets high in salt, fat, and/or cholesterol.</li>
                              <li>If you have chronic conditions such as kidney and hormone problems, diabetes, and high cholesterol.</li>
                              <li>If your family history, especially if your parents or other close relatives have high blood pressure.</li>
                              <li>If you do not exercise regularly.</li>
                              <li>If you are of an older age (the older you are, the more likely you are to have high blood pressure).</li>
                              <li>If you are overweight or obese.</li>
                              <li>If you are always stressed.</li>
                              <li>If you smoke or drink too much alcohol.</li>
                            </ul>
                            <p>
                              <strong>
                                But the good news is now there is an easy way to free your body of all this. <br> There is an easy way for you to get rid of High blood pressure, high blood sugar, high blood lipids, obesity, brain thrombus, stroke and almost every other disease of mankind. <br><br> That’s because our health experts here developed a highly effective and completely safe internal cleansing program.
                              </strong>
                            </p>
                          </p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                
                <!-- START PROMO BLOCK -->
                <section class="hero is-danger is-bold is-small promo-block">
                    <div class="hero-body">
                        <div class="container">
                          <h1 class="article-title has-text-centered">
                               <b><i class="fa fa-bell-o"></i> INTRODUCING</h1></b>
                        </div>
                    </div>
                </section>
                <!-- END PROMO BLOCK -->

                <!-- ARTICLE -->
                 <div class="">
                    <div class="card-content">
                        <div class="row" style="justify-content: space-between;">
                          <div class="col-md-12">
                            <div class="media-content">
                                <h3 class="title mt-5 has-text-centered">Wins Town Hypertension Tea.</h3>
                                <p class="subtitle is-6 article-subtitle">
                                  <img src="{% static 'images/hypertension_teapack.jpeg' %}" class="author-image" style="float: left; " alt="Hypertension Tea Pack"> <br>
                                   <p>
                                     <small><em>Our product is called <b>Wins Town Hypertension Tea</b> and it is a virtual life saver for thousands of suffering people</em></small>
                                   </p>

                                  <div>
                                    <ul>
                                      <strong>
                                      <li>The Wins Town Hypertension tea will normalize Blood pressure and lowers blood fat.</li>
                                      <li>Reverse hypertension.</li>
                                      <li>No more silent-hidden fears of “What might happen next”.</li>
                                      <li>Helps lower blood lipids and cholesterol, lowers blood pressure and obesity, promotes blood circulation.</li>
                                      <li>Relieve blood pressure, soften blood vessels, promotes blood circulation throughout heart and brain.</li>
                                      <li>Anti-oxidative, resists free radicals, anti-inflammatory.</li>
                                      <li>Prevents heart problem, stroke, brain thrombus.</li>
                                      <li>Improves mental focus and memory.</li>
                                      <li>Gives robust heart health.</li>
                                      <li>The Tea helps the body detoxify and be in shape. Makes your body healthy and relaxed.</li>
                                      <li>The tea comes from the ecological origin, quality and health are guaranteed. Daily drinking keeps mental state in a very good shape and improves work efficiency.</li>
                                      <li>No artificial ingredients, fillers or laxatives that will leave you running for the bathroom. Our tea is 100% pure goodness.</li> <br>
                                      <li>Our product will help you save thousands of cash on year to year medication without lasting solution.</li>
                                      </strong>
                                    </ul>
                                  </div>
                                </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->

                <!-- START ARTICLE -->
                <div class="">
                    <div class="card-content">
                      <div class="media">
                        <div class="row" style="display: flex; justify-content: space-around;">
                          <div class="col-md-6">
                            <div class="media-content">
                                <p class="subtitle article-subtitle">
                                  <strong>You should also know: A regulated blood pressure is the first step to fight Heart attack.</strong>
                                  <img src="{% static 'images/heart_pic.jpeg' %}" class="author-image" style="min-height:500px; width: 100%" alt="Regulate Blood Pressure">
                                </p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="media-center">
                                <img src="{% static 'images/tea_cup.jpeg' %}" style="min-height:500px; width: 100%;" class="author-image" alt="Health start with a cup of tea">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <hr>
                    <div class="content article-body">
                      <div class="has-text-centered">
                        <img src="{% static 'images/rawmaterials.jpeg' %}" class="author-image" style="min-height:500px;" alt="Placeholder image">
                        <p>
                          In fact to keep hypertension away, the first step is to regulate your blood pressure. And the truth is, regulating your blood pressure gives you a chance to live a long life.
                        </p>
                        <p>
                          <em>
                            Here is what you get when you order for our <strong>Wins Town</strong> Hypertension tea.
                          </em>
                        </p>
                                                <img src="{% static 'images/teapack.jpeg' %}" class="author-image" style="max-height:500px;" alt="Placeholder image">
                        <img src="{% static 'images/tea_ads.jpg' %}" class="author-image" style="max-height:500px;" alt="Placeholder image"> <br> <br>
                        <p>
                          <strong>Each pack contains 20 tea bags</strong>
                        </p>
                      </div>                          
                    </div>
                  </div>
                <!-- END ARTICLE -->

                <!-- TESTIMONIALS -->
                <div class="">
                  <div class="card-content">
                    <div class="row" style="display: flex; justify-content: space-around; margin-top: 10px;">
                        <div class="col-md-4 mb-5">
                          <div class="card" style="width: 33rem; min-height: 500px;">
                            <div class="card-body">
                              <h5 class="card-title"><b><i>Mrs. Njide Jane from Abuja.</i></b></h5>
                              <hr><hr>
                              <p class="card-text"> <i>
                                "My name is Mrs. Njide Jane, I am 55 years old, since I been diagnosed of having high blood pressure, I’ve been on amlodipine 5mg for more than 5 years, while I was on these bp drugs, I used to develop side effects which made me seek for an alternative remedy, I was introduced to your Hypertension tea that helps normalize blood pressure, lower BP, cholesterol without any side effects at all and within 3 – 5 days of using this hypertension tea, I started to notice my blood pressure reading was reducing. <br><br> I slept well at night and I could perform daily activities without dizziness, fatigue, or any other side effect that comes with the drugs which I’ve tried in the past".</i>
                              </p>
                              <hr>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 mb-5">
                          <div class="card" style="width: 33rem; min-height: 500px;">
                            <div class="card-body">
                              <h5 class="card-title"><b><i>Mr Jide Korede from Igando, Lagos</i></b></h5>
                               <hr> <hr>
                              <p class="card-text"><i>
                               "This is the best-tasting tea for lowering blood pressure. I actually enjoy drinking one cup each morning. I tried two other brands/formulations that didn’t help any better, and they tasted so bad I couldn’t continue to drink them anyway". </i>
                              </p>
                              <hr>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="card" style="width: 33rem; min-height: 500px;">
                            <div class="card-body">
                              <h5 class="card-title"><b><i>Mrs. Mary chukwudi from Nnewi</i></b></h5>
                              <hr> <hr>
                              <p class="card-text"><i>
                                "I am very skeptical about herbal medication for things. But i did try this and it seemed to have helped. I take blood pressure pills but my BP was not stable. I've been drinking this for two weeks or so. I just came back from the doctors office and my BP was right were it should be. I was happy and so was he. I told him about the tea and he said to keep drinking it, it seems to be helping. I ordered more tea..lol... Try it for a week, you never know?"</i>
                              </p>
                              <hr>
                            </div>
                          </div>
                        </div>

                      </div>                 
                    </div>
                </div>
                <!-- END OF TESTIMONIALS -->

                              <!-- WhatsApp Contact from WATI -->
              <script>
              var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?62323';
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = url;
              var options = {
              "enabled":true,
              "chatButtonSetting":{
                "backgroundColor":"#4dc247",
                "ctaText":"",
                "borderRadius":"25",
                "marginLeft":"0",
                "marginBottom":"150",
                "marginRight":"50",
                "position":"right"
              },
              "brandSetting":{
                "brandName":"24 Hours Health Remedy Stores",
                "brandSubTitle":"Typically replies within a day",
                "brandImg":"https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
                "welcomeText":"Hi, there!\nHow can we help you?",
                "messageText":"Hello, I have a question about {{page_link}}",
                "backgroundColor":"#0a5f54",
                "ctaText":"Start Chat",
                "borderRadius":"25",
                "autoShow":false,
                "phoneNumber":"2348134955949"
              }
              };
              s.onload = function() {
                  CreateWhatsappChatWidget(options);
              };
              var x = document.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
              </script>
              <!-- END OF WHATSAPP  -->

                <!-- SECTION -->
                 <section>
                  <div class="">
                    <div class="card-content">
                      <div class="content article-body">
                        <h3 class="has-text-centered title" style="color: red;">How to use Hypertension Tea?</h3>
                        <p>
                          Open one teabag, put it in a cup Add fresh hot or boiling water. Leave it for 5 to 8 minutes, stir lightly and enjoy. You can add lemon or honey based on your desired taste. Repeat daily for the best results. <br> <br>
                          Now…I know you’re excited about this amazing <b>HYPERTENSION TEA</b> I’ve told you about today…
                          <br> <br>
                          And about the fact that you can finally start breathing freely and be able to overcome your lungs related issues…
                          But you’re probably wondering how much it costs…
                          <br> <br>
                          Well, the first thing you should know is, this tea is not available
                          anywhere… at any price…
                          <br> <br>
                          And secondly, I’m going to give it to you at a ridiculously good
                          bargain. <br><br>
                          This tea normally costs ₦28,000 for one… but there’s no way I’m letting
                          you pay that much.
                          <br> <br>
                          <b>So here’s what’s happening today.</b> <br><br>
                          When you order your pack of Hypertension tea today… you get a full 55% discount, <br> <br>

                          <span style="background-color: gold;">
                            <em>You pay only ₦12,500, but that’s not all....</em>
                          </span>
                        </p>
                        <div class="has-text-centered">
                          <label>Normal price: </label><p style="text-decoration: line-through; color: red">₦28,000</p> <br>
                          <p style="color:green; font-family: Cooper Black; font-size:1.4rem;font-weight: bolder;"><b> Discounted price for today:₦12,500</b></p>
                          <p>
                            <h3 style="color: red">
                              And if you place your order right away... without leaving the website, I will do something crazy.
                            </h3> 
                            <p>
                              In fact, if you dare place your order before the countdown timer hits zero, like clicking the link and filling the form and sending in your order now, I will understand that you are serious and need a solution quickly so I will wave the shipping fee for you.. Meaning you will not pay for the cost of shipping, no matter where you live. 

                              <br><br><strong>WONT YOU FEEL BAD IF YOU DECIDE TO CONTINUE IN THE PAIN THAN HELPING YOURSELF AND YOUR FAMILY MEMBER STAY ALIVE?</strong>

                              <br><br>
                              <p>
                                It’s all in your hands now, you won’t get this anywhere. <br><br> Have you been looking for a miracle for your hypertensive condition?
                              </p>

                              <h6 style="color: red">PLEASE NOTE!</h6>
                              <strong><span style="color: red;">WE ARE BEGGING YOU TO PLACE ORDER ONLY IF YOU ARE NOT TRAVELLING IN THE NEXT 1 TO 3 DAYS AND HAVE MONEY AVAILABLE TO GET YOUR PRODUCT DELIVERED TO YOU. THANKS. <br><br>
                              DO NOT ORDER IF YOU ARE NOT READY TO RECEIVE IT , WE DONT WANT I WILL GET BACK TO YOU OR I WILL NEED IT IN 3 DAYS.DO NOT ORDER IF YOU ARE NOT READY PLEASE</span></strong>
                              <br> <br>
                              <span style="color: purple;">To place your order, simply fill in your details in the form below. Buy more and enjoy more of our promo prices
                              </span>
                            </p>
                            <div style="text-align: center;">
                                Normal price: ₦28,000 <br>
                                <span style="color: red">Promo price: ₦12,500</span> <br> <br>
                              <div>
                                <h5>1 Pack = ₦ 12,500</h5>
                                <h5>2 Packs = ₦ 20,000</h5>
                                <h5>3 Packs get 1 free immune booster tea = ₦ 30,000</h5>
                                <h5>4 Packs get 2 free immune booster tea = ₦ 40,000</h5>
                                <h5>5 packs get 3 free immune booster tea = ₦ 50,000</h5>
                              </div>    
                            </div>

                            <hr> <br>
                          <div id="the-final-countdown">
                            <p id="countdown"></p>
                          </div>
                    

                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <!-- ORDER PRODUCT FORM -->
                <section>
                  <div class="row probootstrap-gutter0">
                    <div class="card-content">
                      <form action="{% url 'hypertension_tea' %}" method=post>
                                             
                        {% csrf_token %}
                        {{  form|crispy }}
                        <br>
                        <div class="form-group">
                          <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" 
                          value="Send Message">
                        </div> 
                      </form>
                    </div>
                  </div>

              <!-- FOOTER -->
              <div class="">
                <footer class="card-content">
                  <div style="text-align: center;">&copy; Copyright 2021 | Disclaimer I Refund Policy | Privacy Policy | To Disclaimer <a class="nav-link" href="https://24hoursng.com/">24Hours Health Remedy Stores</a></div>
                  <div>
                    <small class="text-muted">
                      This Site Is Not A Part Of Facebook Website Or Facebook Inc. Additionally, This Site Is NOT Endorsed By Facebook In Any Way. FACEBOOK Is A Trademark Of FACEBOOK Inc
                    </small>
                  </div>
                </footer>
              </div>
                 </section>
        </div>
      </section>
    </div>

                      <!-- POP UP -->
                   <section class="custom-social-proof">
                      <div class="custom-notification" style="display:none" id="hide">
                        <div class="custom-notification-container" id="content">
                          <div class="custom-notification-image-wrapper">
                          </div>
                          <div class="custom-notification-content-wrapper">
                            <p class="custom-notification-content">
                             <span id="customer">Essien</span>  <span id="product"> purchased this product.</span>
                              <small>
                                <br>
                                <span id="time">4</span> minutes ago &nbsp; 
                                <i class="fa fa-check-circle"></i> Verified by <a class="poweredby" href="https://thenexttechie.com" target="_blank">The Next Techie</a>
                              </small>
                            </p>
                          </div>
                        </div>
                        <div class="custom-close"></div>
                      </div>
                    </section>
                <!-- END OF POP UP -->


    <!-- Optional JavaScript -->
      <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
